<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<h1>Login page</h1>

<p>Example administrator: jim / demo</p>

<p>Example user: bob / demo</p>

<p>Example user and administrator: ted / demo</p>

<p th:if="${loginError}" class="error">Wrong user or password</p>

<div th:fragment="login">
    <form th:action="@{/perform_login}" method="post">
        <table>
            <tr>
                <td><label for="username">Username</label>:</td>
                <td><input type="text" id="username" name="username" autofocus="autofocus"/> <br/></td>
                <td><input type="submit" value="Log in"/></td>
            </tr>
            <tr>
                <td><label for="password">Password</label>:</td>
                <td><input type="password" id="password" name="password"/> <br/></td>
            </tr>
        </table>
    </form>
</div>
<p><a href="../index.html" th:href="@{/index.html}">Back to home page</a></p>
</body>
</html>
